@font-face {
  font-family: "emergency-icon"; /* Project id 3250917 */
  src: url('iconfont.woff2?t=1651104187755') format('woff2'),
       url('iconfont.woff?t=1651104187755') format('woff'),
       url('iconfont.ttf?t=1651104187755') format('truetype'),
       url('iconfont.svg?t=1651104187755#emergency-icon') format('svg');
}

.emergency-icon {
  font-family: "emergency-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-dianhua:before {
  content: "\e65f";
}

.icon-wodezhiban:before {
  content: "\e65e";
}

.icon-a-bianzu47:before {
  content: "\e65b";
}

.icon-a-jiagouliuchengbeifen2:before {
  content: "\e65c";
}

.icon-jiagouliucheng:before {
  content: "\e65d";
}

.icon-a-bianzu2:before {
  content: "\e64d";
}

.icon-a-bianzu7:before {
  content: "\e64e";
}

.icon-a-bianzu17:before {
  content: "\e64f";
}

.icon-a-D_1002:before {
  content: "\e650";
}

.icon-wancheng:before {
  content: "\e651";
}

.icon-a-wancheng1:before {
  content: "\e652";
}

.icon-a-wancheng2:before {
  content: "\e653";
}

.icon-a-D_10011:before {
  content: "\e654";
}

.icon-a-Rectangle241:before {
  content: "\e655";
}

.icon-D_fangda1:before {
  content: "\e656";
}

.icon-pdf:before {
  content: "\e657";
}

.icon-D_suoxiao1:before {
  content: "\e658";
}

.icon-D_dingwei1:before {
  content: "\e659";
}

.icon-word:before {
  content: "\e65a";
}

.icon-fenfazhilingka:before {
  content: "\e645";
}

.icon-taishifenxi:before {
  content: "\e646";
}

.icon-shijianyanpan:before {
  content: "\e647";
}

.icon-xinxifabu:before {
  content: "\e648";
}

.icon-shijianbaosong:before {
  content: "\e649";
}

.icon-qidongyuan:before {
  content: "\e64a";
}

.icon-zhongzhipinggu:before {
  content: "\e64b";
}

.icon-zhihuitiaodu:before {
  content: "\e64c";
}

.icon-dakaizu:before {
  content: "\e643";
}

.icon-a-bianzu8:before {
  content: "\e644";
}

.icon-daochubeifen:before {
  content: "\e642";
}

.icon-daoluyunshu:before {
  content: "\e629";
}

.icon-guanbi:before {
  content: "\e62a";
}

.icon-a-gantanhao_iconcopy32:before {
  content: "\e62b";
}

.icon-a-gantanhao_iconcopy31:before {
  content: "\e62c";
}

.icon-a-gantanhao_iconcopy3:before {
  content: "\e62d";
}

.icon-fengxianjiance:before {
  content: "\e62e";
}

.icon-gonglujiaotong:before {
  content: "\e62f";
}

.icon-shijian:before {
  content: "\e630";
}

.icon-gonggongqiche:before {
  content: "\e631";
}

.icon-zuobiao:before {
  content: "\e632";
}

.icon-a-D_1001:before {
  content: "\e633";
}

.icon-a-Rectangle24:before {
  content: "\e634";
}

.icon-a-ViewTree16shuxingzhedie:before {
  content: "\e635";
}

.icon-yichangyujing:before {
  content: "\e636";
}

.icon-xinxi:before {
  content: "\e637";
}

.icon-yuanyin:before {
  content: "\e638";
}

.icon-D_dingwei:before {
  content: "\e639";
}

.icon-yingjichuzhi:before {
  content: "\e63a";
}

.icon-gonglushuiyun:before {
  content: "\e63b";
}

.icon-yingjiziyuan:before {
  content: "\e63c";
}

.icon-D_suoxiao:before {
  content: "\e63d";
}

.icon-a-D_100:before {
  content: "\e63e";
}

.icon-D_fangda:before {
  content: "\e63f";
}

.icon-shuilujiaotong:before {
  content: "\e640";
}

.icon-zhedie:before {
  content: "\e641";
}

